@import "tailwindcss";

:root {
  /* Forcing a deep, sleek dark mode */
  --background: #09090b; /* Deep zinc/black */
  --foreground: #e4e4e7; /* Silver/Zinc text */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}